{{> nav}}
<div class="container">
  <div class="row">
    <div class="col-md-3 d-flex flex-column align-items-center">
      <div class="hidden-sm-down">
        <img src="#" alt="Profile photo" class="img-thumbnail">
      </div>
    </div>
    <div class="col-md-6 col-sm-12">

      <div class="card mb-3 bg-light border border-white p-2">
        <form action="" method="POST">
          <p class="lead text-dark">Post something</p>
          <div class="form-group">
            <textarea class="form-control" name="postBody" id="postText" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-success btn-sm pull-right">Post</button>

        </form>
      </div>


      {{#each Post}}
      <div class="card mb-3">
        {{!-- <img src="#" alt="Post Image" class="card-img-top"> --}}
        <div class="card-body">
          <p class="card-text">
            {{this.textContent}}
          </p>
          <p class="blockquote-footer"><a href="profile/{{User.id}}">{{User.first_name}} {{User.last_name}}</a>, {{this.updatedAt}}</p>
          {{!-- <div class="btn-group" role="group" aria-label="Post actions">
            <button class="btn btn-link">Like</button><button class="btn btn-link">Comment</button>
          </div> --}}
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</div>
