<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-9">
      <h1><span class="fa fa-upload"></span> !!!!!!!!!CLICK AN IMAGE TO SET IS A DEFAULT</h1>
      <div class="col s12 m6">
        {{#each Photo}}
          {{#if this.isPet}}
          <form action="/profilePhotosPet?_method=PUT" method="POST" style="display: inline">
            <button type="submit" name="newDefault" value={{this.id}} style="all:unset;"><input type="hidden" name="petId" value={{this.PetId}}><img src={{this.img_url}} alt="" style="width:15vh;"></button>
          </form>
          {{/if}}
        {{/each}}
      </div>
      <form id="uploadForm" enctype="multipart/form-data" action="/photos" method="POST">
        <label for="category">Select Pet:</label>
        <select class="form-control" name="pet" required>
          <option disabled selected value> -- select an option -- </option>
          {{#each Pet}}
            <option value={{this.id}}>{{this.pet_name}}</option>
          {{/each}}
        </select>
        <input type="file" name="userFile" />
        <input type="submit" value="Upload Pet Photo" name="submit" class="btn btn-warning btn-lg">
      </form>
      <div class="col s12 m6">
        <form action="/profilePhotosUser?_method=PUT" method="POST">
        {{#each Photo}}
          {{#unless this.isPet}}
            <button type="submit" name="newDefault" value={{this.id}} style="all:unset;"><img src={{this.img_url}} alt="" style="width:15vh;"></button>
          {{/unless}}
        {{/each}}
        </form>
      </div>
      <form id="changePic" enctype="multipart/form-data" action="/profilePhotos" method="POST">
        <input type="file" name="userFile" />
        <input type="submit" value="Upload Profile Photo" name="submit" class="btn btn-warning btn-lg">
      </form>
      <hr>
      <p>Or go <a href="/">home</a>.</p>
    </div>
    <div class="col"></div>
  </div>
</div>