{{>nav}}
<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <h1><span class="fa fa-upload"></span> Manage Photos</h1>

      <div class="card mb-3 bg-light">
        <div class="card-block d-flex flex-column align-items-center">
          <h4 class="card-title mt-1">Pet Photos</h4>
          <div class="d-flex justify-content-around align-items-start mb-3">
            {{#each Photo}} {{#if this.isPet}}
            <form action="/profilePhotosPet?_method=PUT" method="POST" style="display: inline">
              <button type="submit" name="newDefault" value={{this.id}} style="all:unset;"><input type="hidden" name="petId" value={{this.PetId}}><img src={{this.img_url}} alt="" style="width:15vh;"></button>
            </form>
            {{/if}} {{/each}}
          </div>
        </div>

        <div class="card-block d-flex flex-column align-items-center">
          <h5 class="card-title mt-1">Upload new pet photos</h5>
          <div class="d-flex justify-content-around align-items-start mb-3">
            <form id="uploadForm" enctype="multipart/form-data" action="/photos" method="POST">
              <label for="category">Select Pet:</label>
              <select class="form-control" name="pet">
          {{#each Pet}}
            <option value={{this.id}}>{{this.pet_name}}</option>
          {{/each}}
        </select>
              <div class="form-group">
                <label for="photo-upload">Choose a file</label>
                <input class="form-control" type="file" name="upload-photo">
              </div>
              <button class="btn btn-primary" type="submit">Upload</button>
            </form>
          </div>
        </div>
      </div>

      <div class="card mb-3 bg-light">
        <div class="card-block d-flex flex-column align-items-center">
          <h4 class="card-title mt-1">Profile Photos</h4>
          <div class="d-flex justify-content-around align-items-start mb-3">
            {{#each Photo}} {{#unless this.isPet}}
            <form action="/profilePhotosUser?_method=PUT" method="POST">
              <button type="submit" name="newDefault" value={{this.id}} style="all:unset;"><img src={{this.img_url}} alt="" style="width:15vh;"></button>
            </form>
            {{/unless}} {{/each}}
          </div>

          <div class="card-block d-flex flex-column align-items-center">
            <h5 class="card-title mt-1">Upload new profile photo</h5>
            <div class="d-flex justify-content-around align-items start mb-3">
              <form id="changePic" enctype="multipart/form-data" action="/profilePhotos" method="POST">
                <div class="form-group">
                  <label for="userFile">Choose a file</label>
                  <input class="form-control" type="file" name="userFile" />
                </div>
                <button class="btn btn-primary" type="submit">Upload</button>
              </form>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <p>Or go <a href="/">home</a>.</p>
    </div>
  </div>
</div>
