{{> nav}}
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="well">
        <div id="profilePic">
          <img src="images/1.jpg" alt="Profile Picture" style="width:15vh;"> {{!-- {{#each ProfilePic}}
          <img src={{this.img_url}} alt="User ID to COME" style="width:15vh;"> {{/each}} --}}
        </div>
        {{!--
        <h3><span></span> {{user.email}}</h3>
        <p><strong>id:</strong> {{user.id}}</p> --}} {{!--
        <h3><span></span> {{user.first_name}} {{user.last_name}}</h3> --}}
        <p><strong>Email:</strong> {{user.email}}</p>
        <form action="/updateProfile" method="get">
          <button name="updateProfile" type="submit" class="btn btn-warning btn-sm">Edit Profile</button>
        </form>
        <form action="/pets" method="get">
          <button name="pets" type="submit" class="btn btn-warning btn-sm">Add Pet</button>
        </form>
        <form action="/photos" method="get">
          <button name="photos" type="submit" class="btn btn-warning btn-sm">Upload Pet Photo</button>
        </form>
      </div>
    </div>
    <div class="col-6">
      {{#each Photo}}
      <img src={{this.img_url}} alt="" style="width:15vh;"> {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <form id="submitPost" action="/posts" method="post">
          <label for="body">Make New Post:</label>
          <textarea name="postBody" placeholder="Post Body" class="form-control" rows="6" id="body"></textarea> {{!-- I would
          like the to add a drop down list for all the pets of that user --}} {{!--
          <div class="form-group">
            <label for="category">Select Pet:</label>
            <select class="form-control" id="pet"></select>
          </div> --}}
          <br />
          <button type="submit" name="button" value="submit" class="btn btn-warning submit btn-sm">Submit Post</button>
        </form>
      </div>
    </div>


    <div class="col-6">
      {{#each Pet}}
      <h1> {{this.pet_name}}</h1> {{/each}}
    </div>


  </div>
</div>